.login-container {
    height: 100%;
}

.login-btn {
    margin-left: 30%;
}

.logo {
    width: 300px;
    margin-bottom: 2%;
}

.error {
    margin-bottom: 1%;
    color: #dddddd;
    background-color: #e92323ec;
    border-radius: 5px;
    padding: 0.2rem;
}